{
    "raw_dir": "raw_reports",
    "": {
        "foil_material_rho": "19.010(5)",
        "foil_thickness": "0.0280(5)",
        "foil_material_molar_mass": "238.1(12)",
        "irradiation_time": "30(1) m",
        "irradiation_start": "01.12.2020 10:31:00",
        "hl_lower_bound": "1 s",
        "hl_upper_bound": "1 d",
        "ig_lower_bound": 0.01,
        "ig_upper_bound": 100
    },
    "-3.RPT": {
        "detector_geometry": 3
    },
    "-30.RPT": {
        "detector_geometry": 30
    },
    "-80.RPT": {
        "detector_geometry": 80
    },
    "-120.RPT": {
        "detector_geometry": 120
    },
    "-250.RPT": {
        "detector_geometry": 250
    },
    "-C1-": {
        "foil_mass": "0.23610(5)"
    },
    "-C2-": {
        "foil_mass": "0.23610(5)"
    }
}